/* Style sheet for collaborative parts of website */

* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    font-weight:800;
}

.navigation-bar {
    display:flex;
    background-color: #7d1d23;
    justify-content: space-between;
    padding: 8px;
}

.navigation-bar .header {
    color:white;
}

.navigation-bar .header a {
    color:antiquewhite;
}