html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

/* Styles navigation header at top of page */
.navigation {
    background-color: #1F2937;
    display: flex;
    height: 24px;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.logo-text {
    font-size: 24px;
    font-weight: 900;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 48px;
}

/* Styles second section of page */
.main {
    display:flex;
    background-color: #1F2937;
    flex: 1 1 auto;
    justify-content: space-around;
    padding: 48px;
   
}

.sign-up {
    min-width: 200px;
    min-height: 200px;
    background-color: blue;
}

.image {
    min-width: 200px;
    min-height: 200px;
    background-color: red;
}

    
    